
body{
      background-color: white;
    }
hr{
      border-color: #bc658d;
      border-style: dotted none none;
      border-width: 5px;
      width: 10%;
}
h1,h2,h3{
    color: #bd9354;
}
.myTitle{
    background-color: #99bbad;  
}
.myName{
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
.myImg{
    
    
}
